p h1,h2,h3,h4,h5,h6 span{
    font-family: Arial, Helvetica,;
}

.headerSection{
    display: flex;
    font-size: 100%;
}
.headerLeft{
    display: flex;
    justify-content: flex-start;
    flex-grow: 6;
    padding-left: 3px;
    align-items: center;
}
.headerRight{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}
.headerRightItem{
    display: inline-block;
    padding: 0px 6px;
}
.RegisterAndLogInButton{
    display: inline-block;
    padding: 0px 6px;
}
.headerRightItem:hover{
    border-bottom: solid rgb(25, 110, 247) 5px;
    border-radius: 2.5px;
}

.headerTextRegister{
    display: inline-block;
    padding: 0px 5px;
    border: solid 1px rgb(25, 110, 247);
    border-radius: 20px;
    padding: 8px;
}
.headerTextRegister:hover{
    color: white;
    background-color: rgb(25, 110, 247);


}

.headerTextLogIn{
    display: inline-block;
    padding: 0px 5px;
    border: solid 1px rgb(25, 110, 247);
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(25, 110, 247);
    color: white;
}
.headerText{
    display: inline-block;
    padding: 0px 5px;
}
div.headerRight div img{
    object-fit: scale-down;
}

.phoneContactSection{
    display: flex;
    white-space: nowrap;
    flex-grow: 6;
    font-weight: lighter;
    
}

.branchContactCenter{
    display: inline-flex;
    white-space: nowrap;
    flex-grow: 6;
}
.headerLeftItem{
    display: inline-block;
    padding: 0px 5px;
}

.servicesList{
    display: flex;
    justify-content: space-around;
    position: sticky; /*CHECK TO MAKE SURE THAT THIS WORKS AS UNTIL TI DOES THERE IS NO GUARENTEE*/
    top: 0px;
    background-color: white;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
}

.servicesList p{
    display: inline-block;
    font-weight: bold;
    border: 5px solid transparent
}
.servicesListItem:hover{
    border-bottom: solid rgb(25, 110, 247) 5px;
    border-radius: 2.5px;
}
.fscsImage{
    padding: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 3px lightgrey;
    width: 15%;
    height: auto;
    flex-grow: 0;
}
.introBox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 75px;
    padding-bottom: 50px;
    margin: 5% 0px;
    /*border-bottom: solid transparent 1px;
    need to find a way to add border shadow at the botom needs research*/
}

.introText{
    line-height: 55px;
    font-size: 2.4em;
}
.introTextHeading{
    font-weight: bolder;
    font-size: 2.2em;
    color: rgb(25, 110, 247);
    flex-shrink: 1;
}
/*THIS STUFF IS FOR EACH INDIVIDUAL PRODUCT LINE*/

/*THIS STUFF WORKS WITH THE FILTER SYSTEM DONT CHANGE UNLESS GIVEN AUTHORISATION*/

.productContainerVisible{
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    margin: 30px 10%;
    justify-content: space-evenly;
    flex-grow: 0;
    max-height: fit-content;
    border:solid 0.5px rgb(234, 239, 254);
    box-shadow: -2px 2px 9px 15px rgb(211, 211, 211);
    border-radius: 22px;
    width: 80%;
}
.productContainerInvisible{
    display: none;
}

/*this is for the first product box after each comment a new product box is made*/
.ProductBox{
    flex-basis: 1;
    padding: 20px;
    text-overflow: wrap;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border: solid 1px rgb(234, 239, 254);
    width: 100%;
    box-sizing: border-box;
}
.productBoxStrongText{
    font-size: 1.8em;
    font-weight: 600;
    color: rgb(25, 110, 247) ;
}
.productBoxText{
    margin: 5px 15px;
    line-height: 25px;
}
.ViewAccountButton{
    text-align: center;
    background-color:rgb(25, 110, 247);
    border-radius: 152px;
    padding: 12px;
    color: white;
    font-weight: 700;
}
.firstProductBox-1{
    background-color:rgb(240, 160, 80) ;
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
/*---------product 2--------------------------------------------------*/
.firstProductBox-2{
    background-color:#73e5db ;
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
/*---------product 3--------------------------------------------------*/

.firstProductBox-3{
    background-color: rgb(240, 207, 76) ;
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
/*---------product 4--------------------------------------------------*/

.firstProductBox-4{
    background-color: rgb(57, 191, 135) ;
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
/*---------product 5--------------------------------------------------*/
.firstProductBox-5{
    background-color:  rgb(255, 133, 147) ;
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
/*---------product 6--------------------------------------------------*/
.firstProductBox-6{
    background-color:  rgb(164, 161, 255);
    color: black;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}

/*Filter css reuqired*/
.filterSelections{
    display: none;
}



/*CLOSED ACCOUNT SECTION CSS STYLING REUIRED*/
.closedAccountBox{
    display: flex;
    flex-flow: row nowrap;
    max-width: 80%;
    margin: 5% 10%;
    align-items: center;
    border:solid 0.5px rgb(234, 239, 254);
    box-shadow: -2px 2px 9px 15px rgb(211, 211, 211);
    border-radius: 22px;
    padding: 39.375px;
    justify-content: space-between;
}
.closedAccountBox-1{
    flex-grow: 1;
}
.closedAccountBox-1 h2{
    margin: 10px;
    margin-left: 0px;
    font-weight: bolder;
    font-size: 2.2em;
    color: rgb(25, 110, 247);
}
/*WANT HELP AND CALL US SECTION*/
.helpSection{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top:solid 0.5px rgb(234, 239, 254);
    border-bottom: solid 0.5px rgb(234, 239, 254);
    border-left: none;
    border-right: none;
    box-shadow: -2px 2px 9px 15px rgb(211, 211, 211);

}
.helpSection-Headers{
    font-weight: bolder;
    font-size: 2.2em;
    color: rgb(25, 110, 247);
}
.helpSection h2{
    font-weight: bolder;
    font-size: 2.2em;
    color: rgb(25, 110, 247);
    margin-top: 0px;
}
.helpSection-Text-Main{
    font-size: 27px;
    font-weight: bolder;
}
.helpSection-1{
    margin-top: 0px;
}
.helpSection-2{
    margin-top: 0px;
    height: 10%;
}
.helpSection-3{
    margin-top: 0px;
    height: 10%;
}
/*WANT HELP AND CALL US SECTION PHONE OPENIGN TIMES USING GRID*/
.callOpeningTimes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.callOpeningTimes p{
    align-self: center;
    margin: 1% 2%;
}
/*THIS SECVTION WILL BE ON THE FOOTER*/
.footerContainer{
    background-color:  rgb(0, 31, 69);
    color: white;
    padding-bottom: 30px;
}
.footerLargeText{
    display: inline-block;
    padding: 25px 50px;
    max-width: 50%;
}
.footerQuickLinksContainer{
    display:flex;
    margin-top: 25px;
    margin: 0px;
    max-width: 100%;
    align-items:flex-start;
    justify-content: space-around;
}
.footerQuickLinksContainer p{
    text-decoration: none;
}
.footerQuickLinksContainer p:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.HiddenFilters{

}

.HiddenContentStatus{
    display: none;
}
.visibleContentStatus{
    display: flex;
}